extends layout

block content
 .jumbotron
      .container
        h1 Welcome!
        p
          | Go to Nodemailer to send an email!
        p
          a.btn.btn-primary.btn-lg(href='/contact', role='button') Send Email
    